@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'prompt', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --bg-color: #d1d7f0;
    --head-color: #e7e7e7;
    --text-color: #333;
    --main-color: #296cfd;
}
body{
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--head-color);
    padding: 28px 12%;
    transition: all .5s ease;
}
.logo{
    display: flex;
    align-items: center;
}
.logo i{
    color: var(--main-color);
    font-size: 28px;
    margin-right: 10px;
}
.logo span{
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 600;
}
.navbar{
    display: flex;
}
.navbar a{
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0 30px;
    transition: all .5s ease;
}
.navbar a:hover{
    color: var(--main-color);
}
.navbar a.active{
    color: var(--main-color);
}
.main{
    display: flex;
    align-items: center;
}

#menu-icon{
    color: var(--text-color);
    font-size: 35px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

.content{
    padding: 120px
}

.wrapper{
    display: flex;
    height: 300px;
    background: var(--head-color);
    padding: 15px;
    border-radius: 20px;
    position: relative;
    width: 100%;
  }
  .wrapper i{
    top: 50%;
    height: 44px;
    width: 44px;
    color: var(--text-color);
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition:  all 0.5s ease;
    scroll-behavior: smooth;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.9);
  }
  .wrapper i:hover{
    background: var(--main-color);
    color: var(--head-color);
  }
  .wrapper i:first-child{
    left: -22px;
    display: none;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
  }
  .carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
  }
  .carousel.dragging img{
    pointer-events: none;
  }
  .carousel img{
    height: 100%;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 3);
    border-radius: 10px;
  }
  .carousel img:first-child{
    margin-left: 0px;
  }








  @media screen and (max-width: 900px) {
    .carousel img{
      width: 100%;
      transition: all .5s ease;
    }
  }

@media (max-width: 1280px){
    header{
        padding: 14px 2%;
        transition: all .2s ease;
    }
    .navbar a{
        padding: 5px 0;
        margin: 0 20px;
    }
    .content{
        padding: 100px 2%;
        transition: all .2s ease;
    }
    .wrapper{
        transition: all .5s ease;
    }
}

@media (max-width: 1090px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 110%;
        right: -100%;
        width: 270px;
        height: 250px;
        background: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 12px;
        transition: all .5s ease;
    }
    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0 25px;
        transition: all .5s ease;
    }
    .navbar a:hover{
        color: var(--text-color);
        transform: translateY(5px);
    }
    .navbar a.active{
        color: var(--text-color);
    }
    .navbar.open{
        right: 1%;
    }
}